@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');


/* INDEX 12 */
/* LUGARES 170 */
/* IMPERDIBLE 426 */
/* ACTIVIDADES 627 */
/* CONTACTO */

/* INDEX */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.tituloIndex {

    font-family: 'Splash', cursive;
    color: rgb(80, 76, 43);
    font-size: xx-large;
    text-align: start;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 15rem;
    align-items: center;

}

.cabeceraMenuUlINDEX {

    margin: 0 auto;
    bottom: 3rem;
    left: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeceraLIINDEX {

    display: inline-block;
    padding: 1rem;
    position: relative;

}

.cabeceraLinkINDEX {
    font-size: x-large;
    text-transform: uppercase;
    color: rgb(198, 198, 198);
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(49, 46, 129);
    border: 1px rgb(132, 153, 202) solid;

}

.cuerpoIndex {

    background-image: url(../img/ArenaAgua.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.grid-principalIndex {

    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    grid-template-areas: "textoB fotoB";
    width: 90%;
    margin: 0 auto
}

.grid-Texto {
    grid-area: textoB;
}

.grid-Foto {
    grid-area: fotoB;
    width: 310px;
    height: 390px;
}

.flex-internoTexto {

    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: 390px;
    border: solid 0, 5px rgb(179, 151, 126);
    background-color: peachpuff;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: large;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    color: rgb(92, 71, 22);
}

@media screen and (max-width: 768px) {

    .cabeceraMenuUl {
        width: 74vw;
    }


    .grid-principalIndex {
        grid-template-areas: "textoB""fotoB";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-Lugares h2 {
        color: rgb(8, 8, 8);
    }


}

@media screen and (max-width: 567px) {
    .grid-Lugares {
        grid-template-areas: "PDD""CP""LP""AD";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-Lugares h2 {
        color: rgb(15, 12, 12);
    }

}

.pieIndex {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40%;
    grid-template-areas: "textoB""fotoB";
    margin: 0;
    background-color: midnightblue;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

/*MEDIA INDEX */

/* LUGARES */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {

    width: 8%;
    position: relative;
    left: 90%;
}

.tituloLugares {

    font-family: 'Splash', cursive;
    color: rgb(16, 23, 114);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: static;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}

.cabeceraMenuUl {

    margin: 0 auto;
    bottom: 3rem;
    left: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeceraLI {

    display: inline-block;
    padding: 1rem;
    position: relative;

}

.cabeceraLink {
    font-size: small;
    text-transform: uppercase;
    color: rgb(198, 198, 198);
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(49, 46, 129);
    border: 1px rgb(132, 153, 202) solid;

}




.CuerpoLugares {

    background-image: url(../img/SantaTereza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100;
    padding: 100;

}

.titulo2 {

    font-family: 'Edu QLD Beginner', cursive;
    color: rgb(37, 115, 231);
    font-size: medium;
    text-align: center;
    display: flex bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;

}

/*CORREGIR */

.grid-Lugares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    grid-template-areas: "PDD CP LP AD ";
    width: 90%;
    margin: 0 auto
}

.grid-PuntaDelDiablo {
    grid-area: PDD;
}

.grid-CaboPolonio {
    grid-area: CP;
}

.grid-LaPaloma {
    grid-area: LP;
}

.grid-AguasDulces {
    grid-area: AD;
}

.flex-internoL {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.flex-internoL p {
    padding: 0.75rem;
    height: 30rem;
}

.flex-internoL img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-Lugares {
        grid-template-areas: "PDD""CP""LP""AD";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-Lugares h2 {
        color: rgb(8, 8, 8);
    }

}

@media screen and (max-width: 567px) {
    .grid-Lugares {
        grid-template-areas: "PDD""CP""LP""AD";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-Lugares h2 {
        color: rgb(15, 12, 12);
    }

    .cabeceraMenuUl {
        width: 50vw;
    }

    .cabeceraLI {
        width: 50vw;
    }

    .cabeceraLink {
        width: 50vw;

    }

}



.pie {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.foto1 {
    size: 5cm;
    height: 5cm;
    width: 9cm;

}

.AlbumFotosActividades {

    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.foto1 {
    size: 5cm;
    height: 5cm;
    width: 310px;


}

.foto2 {
    size: 5cm;
    height: 5cm;
    width: 310px;

}

.foto3 {
    size: 5cm;
    height: 5cm;
    width: 310px;

}

.foto4 {
    size: 5cm;
    height: 5cm;
    width: 310px;

}


.pie {
    background-color: aqua;
}

/* IMPERDIBLE */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.tituloImperdible {
    font-family: 'Splash', cursive;
    color: rgb(240, 149, 21);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}

.CuerpoImperdible {

    background-image: url(../img/NocheFogon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.grid-imperdibles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    grid-template-areas: "carnaval naufragio butia cerro ";
    width: 90%;
    margin: 0 auto
}

.grid-carnaval {
    grid-area: carnaval;
}

.grid-naufragios {
    grid-area: naufragio;
}

.grid-butia {
    grid-area: butia;
}

.grid-cerro {
    grid-area: cerro;
}

.flex-interno {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.flex-interno p {
    padding: 0.75rem;
    height: 30rem;
}

.flex-interno img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-imperdibles {
        grid-template-areas: "carnaval naufragio""butia""cerro ";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-imperdibles h2 {
        color: rgb(94, 18, 156);
    }

}

@media screen and (max-width: 567px) {
    .grid-imperdibles {
        grid-template-areas: "carnaval""naufragio""butia""cerro";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-imperdibles h2 {
        color: red;
    }
}

.foto1 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto2 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto3 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto4 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.pie {
    background-color: aqua;
}


/* ACTIVIDADES */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.tituloActividades {
    font-family: 'Splash', cursive;
    color: rgb(75, 76, 97);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;

}

.CuerpoActividades {

    background-image: url(../img/SurfFaro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*CORREGIR*/
.grid-actividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    grid-template-areas: "Surf Caminata Camion";
    width: 90%;
    margin: 0 auto
}

.grid-Surf {
    grid-area: Surf;
}

.grid-Caminata {
    grid-area: Caminata;
}

.grid-Camion {
    grid-area: Camion;
}

.flex-internoA {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.flex-internoA p {
    padding: 0.75rem;
    height: 30rem;
}

.flex-internoA img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-actividades {
        grid-template-areas: "Surf""Caminata""Camion";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-actividades h2 {
        color: rgb(94, 18, 156);
    }
}

@media screen and (max-width: 567px) {
    .grid-actividades {
        grid-template-areas: "Surf""Caminata""Camion";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-actividades h2 {
        color: red;
    }
}

.foto1 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto2 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto3 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto4 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.pie {
    background-color: aqua;
}


/* CONTACTO */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.titulo1 {
    font-family: 'Splash', cursive;
    color: rgba(245, 222, 22, 0.815);
    font-size: xx-large;
    text-align: center;
    position: relative;

    padding: 0;
    margin: 0;
}

.titulo {
    margin: 0;
    padding: 0;
    font-family: 'Splash', cursive;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}

.principal {
    background-image: url(../img/Palmares.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pieContacto {

    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40%;
    grid-template-areas: "textoB""fotoB";
    margin: 0;
    background-color: midnightblue;


    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

.formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo2 {
    color: rgb(8, 36, 60);
}

.mail {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: content-box;
    color: rgb(8, 36, 60);
}

.decirnos {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: border-box;
    color: rgb(8, 36, 60);

}