/*Colores*/
/*Medidas*/
/* Fuentes*/
/*Mapa de Variables*/
/*MEDIAS QUERI*/
/*LUGARES*/
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");
@media (min-width: 568px) and (max-width: 800px) {
  .cuerpoLugares .PrincipalLugares h2 {
    color: rgb(8, 8, 8);
  }
  .cuerpoLugares .PrincipalLugares .grid-Lugares {
    grid-template-areas: "PDD" "CP" "LP" "AD";
    width: 74vw;
    grid-template-rows: 15rem 15rem;
  }
}
@media (max-width: 567px) {
  .cuerpoLugares .PrincipalLugares h2 {
    color: rgb(255, 255, 255);
  }
  .cuerpoLugares .PrincipalLugares .grid-Lugares {
    grid-template-areas: "PDD" "CP" "LP" "AD";
    width: 70vw;
    grid-template-columns: 23rem;
  }
}
/*ACTIVIDADES*/
@media (min-width: 568px) and (max-width: 800px) {
  .CuerpoActividades .PrincipalActividades h2 {
    color: rgb(255, 255, 255);
  }
  .CuerpoActividades .PrincipalActividades .grid-actividades {
    grid-template-areas: "Surf" "Caminata" "Camion";
    width: 74vw;
    grid-template-columns: 15rem;
  }
}
@media (max-width: 567px) {
  .CuerpoActividades .PrincipalActividades h2 {
    color: rgb(255, 255, 255);
  }
  .CuerpoActividades .PrincipalActividades .grid-actividades {
    grid-template-areas: "Surf" "Caminata" "Camion";
    width: 70vw;
    grid-template-columns: 23rem;
  }
}
/*IMPERDIBLES*/
@media screen and (min-width: 568px) and (max-width: 800px) {
  .CuerpoImperdible .PrincipalImperdible .titulo2imperdible {
    color: rgb(255, 255, 255);
  }
  .CuerpoImperdible .PrincipalImperdible .grid-imperdibles {
    grid-template-areas: "carnaval" "naufragio" "butia" "cerro ";
    width: 74vw;
    grid-template-columns: 15rem 15rem;
  }
}
@media screen and (max-width: 567px) {
  .CuerpoImperdible .PrincipalImperdible .titulo2imperdible {
    color: rgb(230, 220, 220);
  }
  .CuerpoImperdible .PrincipalImperdible .grid-imperdibles {
    grid-template-areas: "carnaval" "naufragio" "butia" "cerro";
    width: 70vw;
    grid-template-columns: 23rem;
  }
}
/* INDEX 15 */
/* LUGARES 87 */
/* IMPERDIBLE 207 */
/* ACTIVIDADES 349 */
/* CONTACTO 492 */
/* INDEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpoIndex {
  background-image: url(../img/ArenaAgua.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 100;
  padding: 100;
}
.cuerpoIndex header .tituloIndex {
  font-family: "Splash", cursive;
  font-size: xx-large;
  text-align: left;
  color: rgb(80, 76, 43);
  font-size: 100px;
  font-weight: 1400;
}
.cuerpoIndex header nav a .logo {
  width: 8%;
  margin: 0;
  right: 0;
}
.cuerpoIndex main div .Presentacion {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 600px;
  border: solid 0, 5px rgb(179, 151, 126);
  background-color: rgba(255, 218, 185, 0.651);
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  text-align: center;
  color: rgb(92, 71, 22);
}
.cuerpoIndex main div .imagen {
  width: 800px;
  height: 600px, 2;
}
.cuerpoIndex .pieIndex {
  background-color: rgba(255, 218, 185, 0.651);
  margin: 0;
  padding: 0;
}
.cuerpoIndex .pieIndex .direccion {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid 0, 5px rgb(179, 151, 126);
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  color: rgb(92, 71, 22);
}

/*---------------------------------------------------------*/
/* LUGARES */
.tituloLugares {
  color: rgb(10, 5, 80);
  font-family: "Splash", cursive;
  font-size: xx-large;
  text-align: left;
  font-size: 40px;
}

.cuerpoLugares {
  background-image: url(../img/SantaTereza.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cuerpoLugares .PrincipalLugares h2 {
  font-family: "Edu QLD Beginner", cursive;
  color: rgb(12, 35, 69);
  font-size: larger;
  text-align: center;
  left: 30rem;
  justify-content: flex-start;
  align-items: center;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-template-areas: "PDD" "CP" "LP" "AD";
  width: 100%;
  margin: 0 auto;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .grid-PuntaDelDiablo, .cuerpoLugares .PrincipalLugares .grid-Lugares .grid-LaPaloma, .cuerpoLugares .PrincipalLugares .grid-Lugares .grid-CaboPolonio {
  grid-area: PDD;
  display: flex;
  flex-direction: column;
  padding: 50 rem;
  text-align: center;
  background-color: rgba(15, 255, 255, 0.782);
  align-items: center;
  justify-content: center;
  color: rgb(15, 86, 86);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .flex-internoL {
  padding: 0.75rem;
  height: 30rem;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .foto1L {
  height: 5cm;
  width: 9cm;
  -o-object-fit: cover;
     object-fit: cover;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .foto1L .flex-internoL img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .grid-CaboPolonio {
  grid-area: CP;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .flex-internoL {
  padding: 0.75rem;
  height: 30rem;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .foto2L {
  height: 5cm;
  width: 9cm;
  -o-object-fit: cover;
     object-fit: cover;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .grid-LaPaloma {
  grid-area: LP;
}
.cuerpoLugares .PrincipalLugares .grid-Lugares .foto3L {
  size: 5cm;
  height: 5cm;
  width: 9cm;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cuerpoLugares .PrincipalLugares .grid-AguasDulces {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  background-color: rgba(15, 255, 255, 0.782);
  align-items: center;
  justify-content: center;
  color: rgb(15, 86, 86);
  padding: 0.75rem;
  height: 30rem;
  grid-area: AD;
}
.cuerpoLugares .PrincipalLugares .foto4L {
  size: 5cm;
  height: 5cm;
  width: 9cm;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cuerpoLugares .PrincipalLugares .foto4L .flex-internoL img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------------------------------------*/
/* IMPERDIBLE */
.tituloImperdible {
  font-family: "Splash", cursive;
  color: rgb(240, 149, 21);
  font-size: 40px;
  font-weight: 100;
}

.logo {
  width: 8%;
  position: relative;
  left: 90%;
}

.CuerpoImperdible {
  background-image: url(../img/NocheFogon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.CuerpoImperdible .titulo2imperdible {
  font-family: "Edu QLD Beginner", cursive;
  color: rgb(173, 231, 37);
  font-size: larger;
  text-align: center;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-template-areas: "carnaval" "naufragio" "butia" "cerro";
  width: 90%;
  margin: 0 auto;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-carnaval {
  grid-area: carnaval;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(248, 251, 250);
  background-color: rgba(13, 68, 116, 0.785);
  align-items: center;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-carnaval .flex-internoI p {
  padding: 0.75rem;
  height: 10rem;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-carnaval .foto1I {
  size: 3cm;
  height: 5cm;
  width: 310px;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-carnaval .foto1I .flex-internoI img {
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-naufragios {
  grid-area: naufragio;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(248, 251, 250);
  background-color: rgba(13, 68, 116, 0.785);
  align-items: center;
  justify-content: center;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-naufragios p {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-naufragios .foto2I {
  size: 3cm;
  height: 5cm;
  width: 310px;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-naufragios .foto2I .flex-internoI img {
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-butia {
  grid-area: butia;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(248, 251, 250);
  background-color: rgba(13, 68, 116, 0.785);
  align-items: center;
  justify-content: center;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-butia p {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-butia .foto3I {
  size: 3cm;
  height: 5cm;
  width: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-butia .foto3I .flex-internoI img {
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-cerro {
  grid-area: cerro;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(248, 251, 250);
  background-color: rgba(13, 68, 116, 0.785);
  align-items: center;
  justify-content: center;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-cerro p {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-cerro .foto4I {
  size: 3cm;
  height: 5cm;
  width: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoImperdible .PrincipalImperdible .grid-imperdibles .grid-cerro .foto4I .flex-internoI img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------------------------------------*/
/* ACTIVIDADES */
.tituloActividades {
  font-family: "Splash", cursive;
  color: rgba(48, 48, 49, 0.986);
  text-align: left;
  font-size: 40px;
}

.CuerpoActividades {
  background-image: url(../img/SurfFaro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.CuerpoActividades .titulo2Actividades {
  font-family: "Splash", cursive;
  color: rgb(75, 76, 97);
  font-size: xx-large;
}
.CuerpoActividades .PrincipalActividades h2 {
  font-family: "Edu QLD Beginner", cursive;
  color: rgb(12, 35, 69);
  font-size: larger;
  text-align: center;
  left: 30rem;
  justify-content: flex-start;
  align-items: center;
}
.CuerpoActividades .PrincipalActividades .grid-actividades {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
  grid-template-areas: "Surf Caminata Camion";
  width: 90%;
  margin: 0 auto;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .grid-Surf {
  grid-area: Surf;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(37, 70, 70);
  background-color: rgba(28, 155, 198, 0.434);
  align-items: center;
  justify-content: center;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .flex-internoA {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto1A {
  size: 5cm;
  height: 5cm;
  width: 9cm;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto1A .flex-internoA {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .grid-Caminata {
  grid-area: Caminata;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(37, 70, 70);
  background-color: rgba(28, 155, 198, 0.434);
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .flex-internoA {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto2A {
  size: 5cm;
  height: 5cm;
  width: 9cm;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto2A .flex-internoA {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .grid-Camion {
  grid-area: Camion;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  color: rgb(37, 70, 70);
  background-color: rgba(28, 155, 198, 0.434);
  align-items: center;
  justify-content: center;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .flex-internoA {
  padding: 0.75rem;
  height: 30rem;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto3A {
  size: 5cm;
  height: 5cm;
  width: 9cm;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.CuerpoActividades .PrincipalActividades .grid-actividades .foto3A .flex-internoA {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------------------------------------------------------*/
/* CONTACTO */
.logo {
  width: 8%;
  position: relative;
  left: 90%;
}

.titulo1 {
  font-family: "Splash", cursive;
  color: rgba(245, 222, 22, 0.815);
  font-size: xx-large;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.titulocontacto2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(239, 216, 216);
  font-size: xx-large;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 3rem;
  left: 30rem;
  justify-content: flex-start;
  align-items: center;
}

.titulo {
  margin: 0;
  padding: 0;
  font-family: "Splash", cursive;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  text-align: center;
  display: inline-block;
  position: relative;
  bottom: 3rem;
  left: 30rem;
  justify-content: flex-start;
  align-items: center;
}

.principal {
  background-image: url(../img/Palmares.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.titulo2contacto {
  font-family: "Edu QLD Beginner", cursive;
  color: rgba(48, 48, 49, 0.986);
  font-size: medium;
  text-align: center;
}

.form-label {
  background-color: aqua;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: medium;
  box-sizing: content-box;
  color: rgb(8, 36, 60);
}

.decirnos {
  background-color: aqua;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: medium;
  box-sizing: border-box;
  color: rgb(8, 36, 60);
}

.btn {
  right: 0%;
}/*# sourceMappingURL=estilo.css.map */