@import "./variables/variable";
@import "./variables/mediaquerie";
@import "./variables/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');


/* INDEX 10 */
/* LUGARES 83 */
/* IMPERDIBLE 223 */
/* ACTIVIDADES 369 */
/* CONTACTO 525 */


/* INDEX */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpoIndex {
    background-image: url(../img/ArenaAgua.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100;
    padding: 100;

    header {
        .tituloIndex {

            font-family: $fuenteTitulos;
            font-size: $tamanoTitulos;
            text-align: left;
            @include ColorTitulos (Index);
        }

        nav {
            a {
                .logo {
                    width: 8%;
                    margin: 0;
                    right: 0;
                }
            }
        }
    }

    main {
        div {
            .Presentacion {
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 310px;
                height: $AltoPresentacion;
                border: solid 0, 5px rgb(179, 151, 126);
                background-color: map-get($ColoresBase, Index);
                font-family: $fuenteTexto;
                font-size: 15;
                font-style: oblique;
                font-weight: bolder;
                text-align: center;
                color: $colorTextoIndex;
            }
        }

        div {
            .imagen {
                width: 400px*2;
                height: $AltoPresentacion*1, 2;
            }
        }
    }

    .pieIndex {
        background-color: map-get($ColoresBase, Index);
        margin: 0;
        padding: 0;
    }
}

/* LUGARES */

.tituloLugares {
    @include ColorTitulos (Lugares);
    font-family: $fuenteTitulos;
    font-size: $tamanoTitulos;
    text-align: left;
}

.cuerpoLugares {
    background-image: url(../img/SantaTereza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100;
    padding: 100;
    .PrincipalLugares {
        h2 {
            font-family: 'Edu QLD Beginner', cursive;
            color: rgb(12, 35, 69);
            font-size: medium;
            text-align: center;
            left: 30rem;
            justify-content: flex-start;
            align-items: center;
        }
        .grid-Lugares {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            column-gap: 5px;
            grid-template-areas: "PDD CP LP AD ";
            width: 90%;
            margin: 0 auto;
            .grid-PuntaDelDiablo {
                grid-area: PDD;
                display: flex;
                flex-direction: column;
                padding: 1.25rem;
                text-align: center;
                background-color: rgba(15, 255, 255, 0.782);
                align-items: center;
                justify-content: center;
                color: rgb(15, 86, 86);
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto1 {
                size: 5cm;
                height: 5cm;
                width: 9cm;
                width: 100%;
                object-fit: cover;
                .flex-internoL img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .grid-CaboPolonio {
                @extend .grid-PuntaDelDiablo;
                grid-area: CP;
            }
            .flex-internoL {
                padding: 0.75rem;
                height: 30rem;
            }
            .foto2 {
                size: 5cm;
                height: 5cm;
                width: 9cm;
                width: 100%;
                object-fit: cover;
                .flex-internoL {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .grid-LaPaloma {
                grid-area: LP;
                @extend .grid-PuntaDelDiablo;
            }
            .foto3 {
                size: 5cm;
                height: 5cm;
                width: 9cm;
                width: 100%;
                object-fit: cover;
            }
        }
        .grid-AguasDulces {
            @include lugarDeRocha (AD);
        }
        .foto4 {
            size: 5cm;
            height: 5cm;
            width: 9cm;
            width: 100%;
            object-fit: cover;
        }
    }
    footer {
        background-color: aqua;
        display: flex;
        flex-direction: row;
    }
}






/* IMPERDIBLE */

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.tituloImperdible {
    font-family: 'Splash', cursive;
    color: rgb(240, 149, 21);

}

.titulo2imperdible {

    font-family: 'Edu QLD Beginner', cursive;
    color: rgb(173, 231, 37);
    font-size: medium;
    text-align: center;


}

.CuerpoImperdible {

    background-image: url(../img/NocheFogon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.grid-imperdibles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    grid-template-areas: "carnaval naufragio butia cerro ";
    width: 90%;
    margin: 0 auto
}

.grid-carnaval {
    grid-area: carnaval;
}

.grid-naufragios {
    grid-area: naufragio;
}

.grid-butia {
    grid-area: butia;
}

.grid-cerro {
    grid-area: cerro;
}

.flex-interno {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    color: rgb(248, 251, 250);

    background-color: rgba(13, 68, 116, 0.785);
    align-items: center;
    justify-content: center;
}

.flex-interno p {
    padding: 0.75rem;
    height: 30rem;
}

.flex-interno img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-imperdibles {
        grid-template-areas: "carnaval naufragio""butia""cerro ";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-imperdibles h2 {
        color: rgb(94, 18, 156);
    }

}

@media screen and (max-width: 567px) {
    .grid-imperdibles {
        grid-template-areas: "carnaval""naufragio""butia""cerro";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-imperdibles h2 {
        color: rgb(230, 220, 220);
    }
}

.foto1 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto2 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto3 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.foto4 {
    size: 3cm;
    height: 5cm;
    width: 310px;
}

.pie {
    background-color: aqua;
}







/* ACTIVIDADES */

.AlbumFotosActividades {

    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.tituloActividades {
    font-family: 'Splash', cursive;
    color: rgb(75, 76, 97);
    font-size: xx-large;


}

.titulo2actividades {
    font-family: 'Edu QLD Beginner', cursive;
    color: rgba(48, 48, 49, 0.986);
    font-size: medium;
    text-align: center;

}

.CuerpoActividades {

    background-image: url(../img/SurfFaro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*CORREGIR*/
.grid-actividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    grid-template-areas: "Surf Caminata Camion";
    width: 90%;
    margin: 0 auto
}

.grid-Surf {
    grid-area: Surf;
}

.grid-Caminata {
    grid-area: Caminata;
}

.grid-Camion {
    grid-area: Camion;
}

.flex-internoA {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    color: rgb(37, 70, 70);
    background-color: rgba(28, 155, 198, 0.434);
    align-items: center;
    justify-content: center;

}

.flex-internoA p {
    padding: 0.75rem;
    height: 30rem;
}

.flex-internoA img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .grid-actividades {
        grid-template-areas: "Surf""Caminata""Camion";
        width: 74vw;
        grid-template-columns: 15rem 15rem;
    }

    .grid-actividades h2 {
        color: rgb(94, 18, 156);
    }
}

@media screen and (max-width: 567px) {
    .grid-actividades {
        grid-template-areas: "Surf""Caminata""Camion";
        width: 70vw;
        grid-template-columns: 23rem;
    }

    .grid-actividades h2 {
        color: red;
    }
}

.foto1 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto2 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto3 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.foto4 {
    size: 5cm;
    height: 5cm;
    width: 310px;
}

.pie {
    background-color: aqua;
}











/* CONTACTO */


.logo {
    width: 8%;
    position: relative;
    left: 90%;
}

.titulo1 {
    font-family: 'Splash', cursive;
    color: rgba(245, 222, 22, 0.815);
    font-size: xx-large;
    text-align: center;
    position: relative;

    padding: 0;
    margin: 0;
}

.titulocontacto2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(239, 216, 216);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}

.titulo {
    margin: 0;
    padding: 0;
    font-family: 'Splash', cursive;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 3rem;
    left: 30rem;
    justify-content: flex-start;
    align-items: center;
}

.principal {
    background-image: url(../img/Palmares.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.pieContacto {


    background-color: midnightblue;
}






.titulo2contacto {
    font-family: 'Edu QLD Beginner', cursive;
    color: rgba(48, 48, 49, 0.986);
    font-size: medium;
    text-align: center;
}

.form-label {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: content-box;
    color: rgb(8, 36, 60);
}

.decirnos {
    background-color: aqua;
    font-family: 'Edu NSW ACT Foundation', cursive;
    ;
    font-size: medium;
    box-sizing: border-box;
    color: rgb(8, 36, 60);

}

.btn {
    right: 0%;
}