/*Colores*/

$ColorPie:  rgba(255, 235, 205, 0.655);
$BordeArena:  rgb(179, 151, 126);
$ArenaTransparente:  rgba(255, 218, 185, 0.381);
$colorTextoIndex: rgb(92, 71, 22);
$marron: rgb(80, 76, 43);

/*Medidas*/

$AltoPresentacion: 500px;

/* Fuentes*/

$fuenteTitulos:'Splash', cursive;
$fuenteTexto: 'Edu NSW ACT Foundation', cursive;
$tamanoTitulos: xx-large;

/*Mapa de Variables*/
$ColoresBase: (
    Index: rgba(255, 218, 185, 0.651)
)