@mixin lugarDeRocha ($lugar) {

    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    text-align: center;
    background-color: rgba(15, 255, 255, 0.782);
    align-items: center;
    justify-content: center;
    color: rgb(15, 86, 86);
    padding: 0.75rem;
    height: 30rem;
    grid-area: $lugar;
}


@mixin ColorTitulos ($pagina) {
    @if $pagina == Index {
        color: rgb(80, 76, 43);
    }

    @else if $pagina == Lugares {
        color: rgb(10, 5, 80);

    }
}